@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F5F9;
    font-family: "Lato", sans-serif;
}

.card {
    background-color: #FFFFFF;
    max-width: 25rem;
    margin: 15rem auto;
    border-radius: 1rem;
    padding-bottom: 5rem;
}

header {
    display: flex;
    background-image: url("./assets/hero-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    align-items: end;
    border-radius: 1rem 1rem 0 0;
}

header img {
    width: 25.06rem;
}

main {
    padding: 0 2rem;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

main p {
    color: #4A5567;
    margin: 1rem 0 1.5rem;
}

hr {
    border: 1px solid #F2F5F9;
}

footer {
    display: flex;
}

footer img {
    border-radius: 99rem;
    border: 0.5rem solid #F2F5F9;
    width: 3.5rem;
}

