* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F5F9;
}

div {
    background-color: #FFFFFF;
    max-width: 25rem;
    margin: 15rem auto;
    border-radius: 1rem;
}

header {
    display: flex;
    background-image: url("./assets/hero-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    align-items: end;
    border-radius: 1rem 1rem 0 0;
}

header img {
    width: 25.06rem;
}